.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  box-sizing: border-box;
  color: #fff;
}

.footer__content {
  display: flex;
  padding: 60px 80px 108px;
}

.footer__logo {
  width: 105px;
  height: 39px;
  margin-right: auto;
}

.footer__social-heading {
  font-family: "Inter", Arial, "sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-top: auto;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  list-style-type: none;
  bottom: 16px;
  margin-bottom: 8px;
}

.footer__social-icon {
  font-family: "Inter", Arial, "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  width: 16px;
  height: 16px;
  text-decoration: none;
  color: #fff;
  margin-right: 8px;
}

.footer__social-link {
  transition: opacity 0.3s ease-in-out;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  font-family: "Inter", Arial, "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 60px;
  color: white;
  margin-left: 80px;
}
